<div class="col-md-8">
  <li id="follow-<%= follow.id %>">
    <%= link_to gravatar_for(follow, size: 50), follow %>
    <span class="user"><%= link_to follow.name, follow %></span>
    </br>
  </li>
</div>