var map;
var marker = [];
var infoWindow = [];
var tes1markerData = [<%= @usermarkers %>];
var tes2markerData = [ 
  {
        description: 'TAM 東京',
        lat: 35.6954806,
        lng: 139.76325010000005,
    }, {
        description: '小川町駅',
        lat: 35.6951212,
        lng: 139.76610649999998
    }
];
var markerData = tes2markerData;

function initMap() {
    // 地図の作成
    var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); // 緯度経度のデータ作成
    map = new google.maps.Map(document.getElementById('gmap'), { // #gmapに地図を埋め込む
        center: mapLatLng, // 地図の中心を指定
        //color:black,
        zoom: 15 // 地図のズームを指定
    });
 
    // マーカー毎の処理
    for (var i = 0; i < markerData.length; i++) {
        markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
        marker[i] = new google.maps.Marker({ // マーカーの追加
            position: markerLatLng, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
        });
 
        infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
            content: '<div class="gmap">' + markerData[i]['description'] + '</div>' // 吹き出しに表示する内容
        });
 
        markerEvent(i); // マーカーにクリックイベントを追加
    }
 
    marker[0].setOptions({// TAM 東京のマーカーのオプション設定
        icon: {
            //color:markerData[0]['icon']
            url: markerData[0]['icon']// マーカーの画像を変更
        }
    });
}
 
// マーカーにクリックイベントを追加
function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
        infoWindow[i].open(map, marker[i]); // 吹き出しの表示
    });
}